services:
  nginx:
    image: nginx
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.nginx.rule=Host(`${HOST:-nginx-127-0-0-1.nip.io}`)

networks:
  traefik:
    name: traefik
    external: true
